.btn {
  &:active,
  &:focus {
    box-shadow: none;
  }

  &-primary {
    color: white;
    background-color: var(--primary-color);
    border-color: var(--primary-color);

    &:hover, &:focus {
      background-color: var(--primary-color-dark);
      border-color: var(--primary-color-dark);
    }
  }
}
