@import '../../sass/media-query';

.section__contact {
  .contact {
    &__content {
      &-data {
        row-gap: .5rem;
      }
    }

    &__information {
      display: flex;
      margin-bottom: 1.5rem;

      &-title {
        font-size: var(--h3-font-size);
        font-weight: var(--font-weight-medium);
      }

      &-subtitle {
        font-size: var(--small-font-size);
        color: var(--text-color-light);
      }

      svg {
        color: var(--primary-color);
        margin-right: .75rem;
        width: 32px;
        height: 32px;
      }
    }

    &__form {
      gap: 1rem;

      .btn-contact-submit {
        border-radius: .5rem;
      }

      .form-floating {
        input,
        textarea {
          padding: 2.5rem 1.5rem 1rem 1.5rem;
          background-color: var(--input-color);
          color: var(--text-color);
          font-size: var(--normal-font-size);

          border: none;
          resize: vertical;
          border-radius: .5rem;
        }

        input {
          &:-internal-autofill-selected {
            background-color: var(--input-color) !important;
            color: var(--text-color) !important;
          }
        }

        textarea {
          min-height: 10rem;
        }

        label {
          font-size: var(--h3-font-size);
          opacity: 1;
        }
      }
    }

    @include tablet {
      &__content {
        &-data {
          column-gap: 2rem;
          grid-template-columns: .8fr 1.2fr;
        }
      }
    }
  }
}
