@import '../../sass/media-query';

.section__contact {
  .contact {
    &__content {
      &-data {
        row-gap: 3rem;
      }
    }

    &__information {
      display: flex;
      margin-bottom: 2rem;

      &-title {
        font-size: var(--h3-font-size);
        font-weight: var(--font-weight-medium);
      }

      &-subtitle {
        font-size: var(--small-font-size);
        color: var(--text-color-light);
      }

      svg {
        color: var(--primary-color);
        margin-right: .75rem;
        width: 32px;
        height: 32px;
      }
    }
  }
}
