@import '../../sass/media-query';

.section__journey {
  .journey__content {
    &-data {
      &-tabs {
        margin-bottom: 2.5rem;
        grid-template-columns: 1fr max-content 1fr;

        .journey__tabs-button {
          font-size: var(--h3-font-size);
          font-weight: var(--font-weight-medium);
          color: var(--primary-color);
          cursor: default;
        }
      }

      &-content {
        .journey__items {
          .journey__item {
            display: grid;
            grid-template-columns: 1fr max-content 1fr;
            gap: 1rem;
            padding-bottom: .75rem;

            &-title {
              font-size: var(--normal-font-size);
              font-weight: var(--font-weight-medium);
              margin-bottom: 0;
            }

            &-subtitle {
              display: inline-block;
              font-size: var(--small-font-size);
              margin-bottom: .5rem;
            }

            &-calendar {
              font-size: var(--smaller-font-size);
              color: var(--text-color-light);

              svg {
                width: 20px;
                height: 20px;
              }
            }

            &-rounder {
              display: inline-block;
              width: 13px;
              height: 13px;
              background-color: var(--primary-color);

              border-radius: 50%;
            }

            &-line {
              display: block;
              width: 1px;
              height: 100%;
              background-color: var(--primary-color);

              transform: translate(6px, -7px);
            }
          }
        }
      }
    }
  }
}
